<rewriteMaps>
	<rewriteMap name="OldPages">
		<add key="/ArtistLookup.aspx" value="/for-art-market-professionals/artist-search" />
		<add key="/ARRCalculator.aspx" value="/for-art-market-professionals/arr-royalty-calculator" />
	</rewriteMap>
    <rewriteMap name="send to www" />
</rewriteMaps>

	  